{{extend "layout.html"}}

    {{=form}}
    <hr />
<!--    {{ for art in arts:}}
        <div class="art">
	         <div class="art-title"><strong>{{=art.title}}</strong></div>
	           <span>{{=art.created}}</span>
	           <pre class="art-body">{{=art.art}}</pre>
	      </div>
        {{pass}}

        -->
