{{extend 'layout.html'}}

<a href='{{=URL("artAscii")}}'><h1>Ascii-arte</h1></a>
    {{ for art in arts:}}
        <div class="art">
	         <div class="art-title"><strong>{{=art.title}}</strong></div>
	           <span>{{=art.created}}</span>
	           <pre class="art-body">{{=art.art}}</pre>
	      </div>
        {{pass}}




